main.table-container {
  padding: 16px;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

select#options {
  margin: 0 24px;
  height: 28px;
}
.search-container input {
  height: 24px;
}
.right-section button {
  height: 28px;
  padding: 5px;
  border: unset;
}
